LOGIN POST: <br>
<form action = "/login/" method = "POST">
	<br>
	Access Token: <input type="text" name="access_token"> <br>
	<input type="submit" value="Submit">
</form>
<br><br><br>
DROP POST: <br>
<form enctype="multipart/form-data" action="/drop/" method="post">
	<br>
	User ID: <input type="text" name="access_token"><br>
	Title: <input type="text" name="title"> <br>
	Comment: <input type="text" name="comment"> <br>
	Type: <input type="text" name="type"> <br>
	<input type="file" name="file" id="file"> <br>
	<input type="submit" value="Submit">
</form>
<br><br><br>
DROP GET: <br>
<form action = "/drop/" method = "GET">
	Query Type: <input type="text" name="querytype"><br>
	ID: <input type = "text" name = "drop_id"> <br>
	<input type = "submit" value = "Submit">
</form>
<br><br><br>
POST ENTRY: <br>
<form action = "/entry/" method = "POST">
	Access Token: <input type="text" name="access_token"><br>
	Latitude: <input type = "text" name = "latitude"> <br>
	Longitude: <input type = "text" name = "longitude"> <br>
	Radius: <input type = "text" name = "radius"> <br>
	Expiration: <input type = "text" name = "expires_in"> <br>
	File ID: <input type = "text" name = "file_id"> <br>
	<input type = "submit" value = "Submit">
</form>
<br><br><br>
GET ENTRY: <br>
<form action = "/entry/" method = "GET">
	Latitude: <input type = "text" name = "latitude"> <br>
	Longitude: <input type = "text" name = "longitude"> <br>
	Radius: <input type = "text" name = "radius"> <br>
	ID: <input type = "text" name = "user_id"> <br>
	<input type = "submit" value = "Submit">
</form>